<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/home.css" />
    <script defer src="app.js"></script>
</head>
<body>
    <div id="grid-container">
        <% if(user){ %>
            <h5>Hello, <%= user.username %> <a id="sign-out" href="/auth/sign-out">Sign-Out</a></h5>
            <main>
                <h1>Welcome to the Pokemon App</h1>
            </main>
            <a href="/pokemon"><button>Pokemon</button></a>
       <% }else{ %>
            <h5>Hello, Guest: <a href="/auth/sign-up">Sign-Up</a> or <a href="/auth/sign-in">Sign-In</a></h5>
            <main>
                <h1>Welcome to the Pokemon App</h1>
            </main>
      <% } %>
        <!-- Browsers do not like it when we put autoplay sound (including videos), so we need to add the "muted" attribute -->
        <!-- <video id="video" autoplay muted loop width="600px" height="600px" >
            <source src="videos/pokemon-stadium-video.mp4" type="video/mp4">
        </video> -->
    </div>
</body>
</html>