@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.leonardo.ai/users/18ef5c8a-497b-4042-8160-eb179278acf6/generations/07a5c1b4-7462-43fe-8799-da7eecd080a9/Default_10_pokeballs_nature_beach_background_1.jpg");
    background-size: cover;
    font-family: 'Pokemon Solid', sans-serif;
    height: 95vh;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

main {
    margin-top: 30px;
    background-color: hsla(45, 100%, 72%, 0.20);
    box-shadow: 0 0 21px 10px hsla(40, 7%, 92%, 0.45);
    border-radius: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
}

h5 {
    color: white;
    text-shadow: 3px 3px 2px black;
}

a {
    text-decoration: none;
    color: yellow;
}

#sign-out {
    margin-left: 25px;
}

button {
    font-size: 1.2rem;
    border-radius: 30px;
    margin-top: 20px;
    background-color: hsla(360, 100%, 45%, 0.45);
    color: white;
    box-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    font-family: 'Pokemon Solid', sans-serif;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(238, 12, 12);
}

/* video {
    border-radius: 600px;
    border: 5px solid white;
    grid-area: image;
}
*/

@media(max-width: 1010px){
    body {
        height: 100vh;
    }
}

@media(max-width: 987px){
    h1 {
        font-size: 2rem;
    }
}

@media(max-width: 531px){
    h1 {
        font-size: 1.1rem;
    }
}



